body {
  margin: 0;
  padding: 0;
  background-color: #001724;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  width: 100vw;
}

#root {
  color: var(--white);
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

:root {
  --default-background-color: #ffffff;

  --gray: #a5a5a5;
  --gray-light: #cbcbcb;
  --gray-dark: #424242;
  --black: #000000;
  --white: #f6f8f6;

  --primary-main: #042042;
  --primary-light: #274471;

  --secondary-main: #4b6a98;
  --secondary-light: #6b92c3;

  --accent-red: #f16767;
  --accent-yellow: #f1cf67;
  --accent-green: #78f167;
  --accent-blue: #68d6f1;
  --accent-purple: #7867f1;
  --accent-pink: #f167e0;
}

.primaryTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.secondaryTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.primarySubtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.secondarySubtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mediumText {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mediumTextB {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.generalText {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.miniText {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.sss {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 135px;
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 10px;
}

.asdaq {
  display: flex;
  height: calc(100% - 10px);
  width: 220px;
  min-width: 220px;
  box-shadow: 0px 4px 10px 0px var(--black);
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
  border-radius: 21px;
  padding: 8px;
}

.aaa {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.asdasd {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 10px;
  justify-content: space-between;
  flex-direction: row;
}

.pplasjdfs {
  display: flex;
  height: calc(100% - 25px);

  @media screen and (max-width: 768px) {
    width: 100%;
  }
}

.espaciosDeTrabajo {
  display: flex;
  width: 100%;
  height: fit-content;
}

.tareasPendientes {
  display: flex;
  width: 100%;
  height: calc(100% - 525px);
}

.notasRecientes {
  display: flex;
  width: 100%;
  height: 400px;
}

.porcentaje {
  display: flex;
  position: absolute;
  height: fit-content;
  bottom: 30px;
}

.porqwuno {
  display: flex;
  gap: 10px;
  width: 100%;
  height: 100%;
  overflow-x: auto;
  scrollbar-width: none;
  padding-bottom: 10px;
}
