body {
  margin: 0;
  padding: 0;
  background-color: #042042;
  color: var(--white);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  width: 100vw;
}

#root {
  color: var(--white);
  margin: 0;
  position: relative;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

:root {
  --default-background-color: #042042;

  --gray: #a5a5a5;
  --gray-light: #cbcbcb;
  --gray-dark: #424242;
  --black: #000000;
  --white: #f6f8f6;

  --primary-main: #042042;
  --primary-light: #274471;

  --secondary-main: #4b6a98;
  --secondary-light: #6b92c3;

  --accent-red: #f16767;
  --accent-yellow: #f1cf67;
  --accent-green: #78f167;
  --accent-blue: #68d6f1;
  --accent-purple: #7867f1;
  --accent-pink: #f167e0;
}

.primaryTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.secondaryTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.primarySubtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.secondarySubtitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mediumText {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mediumTextB {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.generalText {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.generalTextB {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.miniText {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.miniTextB {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
